.cabecao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
    height:100px ;
    margin-bottom: 50px;

    a{
        color: #fff;
        margin: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 21px;
    }

    background-color: #0000003D;
}